# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
android/app/build/
android/build/
android/app/src/main/assets/
android/app/debug.keystore

# iOS
ios/build/

# Metro
.metro-cache/

# Other
*.log
*.lock
